@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;600;900&display=swap");
body {
  font-family: "Muli", Verdana, Geneva, sans-serif; }

h1 {
  color: #8db5a3;
  font-weight: bold; }

h2, h3, h4 {
  color: #b48f30da;
  font-weight: 900; }

a, button {
  cursor: grab; }
  a:focus, button:focus {
    outline: none; }

article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 28px; }
  @media only screen and (max-width: 768px) {
    article {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }

#home-container, #services-container, #about-container, #contact-container {
  display: grid;
  padding: 0;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "carousel" "intro" "clients" "description" "footer";
  background-color: white;
  font-family: "Muli", Verdana, Geneva, sans-serif;
  color: black; }

.navbar-block {
  background-color: black;
  height: 56px; }

#services-container {
  grid-template-columns: "header" "content" "footer"; }

#about-container {
  grid-template-columns: "header" "content" "footer"; }

#contact-container {
  grid-template-columns: "header" "content" "footer"; }

.primary-button {
  background-color: inherit;
  border: 2px solid #8db5a3;
  color: #8db5a3; }
  .primary-button:hover, .primary-button:active {
    background-color: #8db5a3;
    color: white; }

.secondary-button {
  background-color: inherit;
  border: 2px solid #b48f30da;
  color: #b48f30da; }
  .secondary-button:hover, .secondary-button:active {
    background-color: #b48f30da;
    color: white; }

header {
  grid-area: header;
  background-color: #8db5a3; }

#home-intro {
  grid-area: intro;
  display: grid;
  gap: inherit;
  grid-template-columns: 6fr 5fr;
  background-color: #f3f7fc;
  margin-top: 0 auto;
  color: black; }
  @media only screen and (max-width: 768px) {
    #home-intro {
      grid-template-columns: 1fr; } }
  #home-intro .left {
    padding: 150px 0% 60px 20%;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      #home-intro .left {
        padding: 100px 10% 30px 10%; } }
    #home-intro .left h1 {
      font-size: 3.2rem; }
    #home-intro .left h4 {
      font-weight: normal;
      color: black; }
  #home-intro .right {
    padding: 50px 10% 80px 10%; }
    #home-intro .right button {
      margin-bottom: 30px; }

#client-list {
  grid-area: clients;
  background-color: white; }
  #client-list h4 {
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem; }
  #client-list hr {
    width: min(100px, 25%);
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    height: 5px;
    background-color: #e3ecf8; }
  #client-list .companies-wrapper {
    padding: 30px 15% 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 35px; }
    @media only screen and (max-width: 1200px) {
      #client-list .companies-wrapper {
        grid-template-columns: repeat(4, 1fr); } }
    @media only screen and (max-width: 992px) {
      #client-list .companies-wrapper {
        grid-template-columns: repeat(3, 1fr); } }
    @media only screen and (max-width: 768px) {
      #client-list .companies-wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    #client-list .companies-wrapper .client {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
      #client-list .companies-wrapper .client:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }

#home-description {
  grid-area: description;
  background-color: #f3f7fc;
  display: grid;
  grid-template-columns: 3fr 6fr;
  margin-top: 3rem; }
  @media only screen and (max-width: 992px) {
    #home-description {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 992px) {
    #home-description .left {
      grid-row: 2/3; } }
  #home-description .left img {
    display: block;
    width: 80%;
    max-width: 450px;
    margin: 30px auto;
    margin-top: 60px;
    margin-bottom: 70px;
    width: 60%; }
  #home-description .right {
    padding-left: 70px;
    padding-right: 70px; }
    #home-description .right h2 {
      margin-top: 6rem;
      font-size: 2.6rem;
      color: #8db5a3; }
    #home-description .right p {
      font-size: 1.4rem;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 992px) {
        #home-description .right p {
          margin-bottom: 0; } }

#services-content {
  grid-area: "content"; }
  #services-content .service-intro {
    position: relative;
    background-color: #f3f7fc; }
    #services-content .service-intro h1 {
      position: relative;
      z-index: 2;
      width: min(65%, 700px);
      padding: 120px 0 120px min(20%, 400px);
      font-size: 4rem;
      font-weight: 600;
      color: black; }
      @media only screen and (max-width: 768px) {
        #services-content .service-intro h1 {
          font-size: 3.5rem; } }
    #services-content .service-intro img {
      position: absolute;
      right: 24%;
      top: 80px;
      width: 480px;
      z-index: 1; }
      @media only screen and (max-width: 768px) {
        #services-content .service-intro img {
          display: none; } }
  #services-content .services-strip {
    background-color: #8db5a3; }
    #services-content .services-strip h2, #services-content .services-strip h4 {
      color: white;
      padding: 40px 40px;
      font-size: 2.5rem; }
    #services-content .services-strip h4 {
      background-color: rgba(211, 176, 89, 0.8549019608);
      padding: 28px 28px;
      font-size: 1.5rem; }
  #services-content .service-grid, #services-content .additional-service-grid {
    display: grid;
    margin: 0 auto;
    row-gap: 35px;
    width: 86%;
    padding: 50px 10px;
    grid-template-columns: repeat(3, 1fr); }
    #services-content .service-grid .card, #services-content .additional-service-grid .card {
      width: 90%;
      margin: 0 auto; }
      #services-content .service-grid .card .card-link, #services-content .additional-service-grid .card .card-link {
        color: #cd4441; }
    @media only screen and (max-width: 768px) {
      #services-content .service-grid, #services-content .additional-service-grid {
        grid-template-columns: 1fr 1fr; } }
  #services-content .additional-service-grid {
    width: 75%;
    grid-template-columns: repeat(5, 1fr); }
    #services-content .additional-service-grid .card {
      width: 88%; }
    @media only screen and (max-width: 768px) {
      #services-content .additional-service-grid {
        grid-template-columns: repeat(2, 1fr); } }

#about-content {
  grid-area: "content"; }
  #about-content .mission-wrapper {
    text-align: center;
    padding: 110px 20% 45px; }
    #about-content .mission-wrapper h1 {
      font-size: 2rem; }
    #about-content .mission-wrapper h4 {
      margin-top: 30px;
      color: black;
      font-size: 1.5rem;
      font-weight: 600; }
    @media only screen and (max-width: 768px) {
      #about-content .mission-wrapper {
        padding-left: 0;
        paddding-right: 0; }
        #about-content .mission-wrapper h4 {
          font-size: 2.5rem; } }
    @media only screen and (max-width: 992px) {
      #about-content .mission-wrapper {
        padding-left: 10%;
        paddding-right: 10%; }
        #about-content .mission-wrapper h4 {
          font-size: 1.8rem; } }
    @media only screen and (max-width: 1200px) {
      #about-content .mission-wrapper {
        padding-left: 18%;
        paddding-right: 18%; }
        #about-content .mission-wrapper h4 {
          font-size: 1.6rem; } }
  #about-content .focus-icons {
    background-color: #f3f7fc;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px 10% 70px; }
    #about-content .focus-icons .icon {
      color: #8db5a3;
      font-size: 4rem;
      text-align: center; }
      #about-content .focus-icons .icon i {
        display: inline-block;
        text-align: center;
        -webkit-box-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        padding: 30px;
        background-color: inherit;
        border: 6px solid #8db5a3; }
      #about-content .focus-icons .icon h3 {
        padding-top: 5px;
        font-size: 1.4rem;
        font-weight: 600; }
      #about-content .focus-icons .icon h6 {
        color: black;
        font-size: 0.9rem;
        width: 130px;
        margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      #about-content .focus-icons {
        display: block; }
        #about-content .focus-icons .icon + .icon {
          margin-top: 30px; } }
  #about-content .team-wrapper {
    background-color: #8db5a3;
    position: relative;
    overflow: hidden; }
    #about-content .team-wrapper .bg {
      position: absolute;
      opacity: 0.1;
      z-index: 0; }
    #about-content .team-wrapper .portrait {
      display: block;
      width: 30%;
      padding-top: 130px;
      margin-left: min(20%, 600px);
      position: relative; }
      @media only screen and (max-width: 768px) {
        #about-content .team-wrapper .portrait {
          margin: auto;
          padding-top: 350px;
          width: max(30%, 300px); } }
    #about-content .team-wrapper .dad-description {
      position: absolute;
      width: 48%;
      left: 47%;
      top: 10%;
      z-index: 2; }
      @media only screen and (max-width: 768px) {
        #about-content .team-wrapper .dad-description {
          left: 5%;
          top: 7%;
          width: 90%; } }
      #about-content .team-wrapper .dad-description h3 {
        font-weight: bold;
        font-size: 2.2rem; }
      #about-content .team-wrapper .dad-description h5 {
        font-weight: 549;
        color: white;
        font-size: 1.5rem; }
        @media only screen and (max-width: 992px) {
          #about-content .team-wrapper .dad-description h5 {
            font-size: 1.3rem; } }
      #about-content .team-wrapper .dad-description p {
        color: white;
        font-size: 1.3rem; }
        @media only screen and (max-width: 992px) {
          #about-content .team-wrapper .dad-description p {
            font-size: 1.1rem; } }
      #about-content .team-wrapper .dad-description hr {
        width: min(100px, 25%);
        margin: 0 auto;
        border: none;
        border-radius: 3px;
        height: 5px;
        background-color: whitesmoke;
        margin: 0;
        margin-bottom: 5px; }
  #about-content .company-history {
    width: min(910px, 88%);
    margin: 0 auto;
    padding: 100px 0; }
    #about-content .company-history h2 {
      font-size: 2.7rem;
      padding-bottom: 8px; }
      @media only screen and (max-width: 768px) {
        #about-content .company-history h2 {
          padding-bottom: 16px; } }
    #about-content .company-history p {
      font-size: 1.1rem;
      line-height: 1.7rem; }
    @media only screen and (max-width: 768px) {
      #about-content .company-history {
        padding-left: 50px;
        padding-right: 50px; } }

#contact-content {
  grid-area: "content"; }
  #contact-content .landscape-wrapper {
    background-color: #8db5a3;
    max-height: 500px;
    overflow: hidden; }
    #contact-content .landscape-wrapper img {
      width: 100%;
      opacity: 0.3; }
    #contact-content .landscape-wrapper .contact-banner {
      width: 100%;
      text-align: center;
      position: absolute;
      z-index: 1;
      top: 220px; }
      #contact-content .landscape-wrapper .contact-banner h1 {
        color: white;
        font-size: 4.5rem; }
      #contact-content .landscape-wrapper .contact-banner h5 {
        color: white;
        font-size: 1rem; }
      @media only screen and (max-width: 992px) {
        #contact-content .landscape-wrapper .contact-banner {
          top: 180px; }
          #contact-content .landscape-wrapper .contact-banner h1 {
            font-size: 4rem; } }
      @media only screen and (max-width: 768px) {
        #contact-content .landscape-wrapper .contact-banner {
          top: 120px; }
          #contact-content .landscape-wrapper .contact-banner h1 {
            font-size: 3.5rem; } }
  #contact-content .contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 80px; }
    @media only screen and (max-width: 768px) {
      #contact-content .contact-info {
        display: block; } }
    #contact-content .contact-info h3 {
      font-weight: 600; }

footer {
  grid-area: footer;
  padding: 10px 20px 10px;
  background-color: #324e41;
  color: white;
  text-align: center; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:link, footer a:visited, footer a:hover, footer a:active {
      color: white;
      text-decoration: none; }
  footer .social-media {
    margin-top: 45px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center; }
    footer .social-media a {
      display: block;
      marging-left: 22px;
      margin-right: 22px;
      transition: all 0.2s ease-in-out; }
      footer .social-media a:hover {
        transform: scale(1.1); }
  footer hr {
    background-color: white;
    width: 15%; }
  footer .footer-links {
    margin-bottom: 45px;
    margin-top: 15px;
    display: flex;
    justify-content: center; }
    footer .footer-links h5 {
      color: white;
      font-size: 0.85rem;
      marging-left: 35px;
      margin-right: 35px; }

.navbar .nav-item {
  margin: 0 6px 0; }
.navbar .navbar-toggler {
  border: none; }
  .navbar .navbar-toggler:focus {
    outline: none; }

.modal-body .fine-print {
  color: gray;
  font-size: 0.7rem; }

.modal-footer .send-btn {
  background-color: #8db5a3;
  border: none; }
  .modal-footer .send-btn:hover {
    background-color: #7aa994; }
.modal-footer .close-btn {
  border: none; }

.media-box, .contact-card {
  background-color: inherit;
  color: inherit;
  width: 85%;
  display: block;
  text-align: center;
  margin: 0 auto;
  -webkit-box-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 8px #666;
  -moz-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
  border: 1px solid inherit; }
  @media only screen and (max-width: 768px) {
    .media-box, .contact-card {
      width: 94%; } }
  .media-box h2, .contact-card h2 {
    padding-top: 2rem;
    font-weight: 600;
    text-align: center;
    color: #b48f30da; }
  .media-box .media, .contact-card .media {
    width: 90%;
    display: block;
    margin: 30px auto; }

.contact-card {
  margin-top: -50px;
  padding: 20px;
  z-index: 1;
  background-color: white;
  width: 40%; }
  .contact-card i, .contact-card h5 + p, .contact-card p + h3, .contact-card p + button {
    margin-top: 30px; }
  .contact-card i {
    color: #8db5a3; }
  .contact-card h5 {
    font-weight: bold; }
  @media only screen and (max-width: 768px) {
    .contact-card {
      width: 94%;
      margin-top: 45px; } }

.carousel-control-prev, .carousel-control-next {
  top: 85%;
  width: 35px;
  height: 35px;
  z-index: 2;
  border-radius: 50%;
  padding: 6px;
  background-color: rgba(90, 90, 90, 0.6); }
  .carousel-control-prev:focus, .carousel-control-next:focus {
    opacity: 0.5; }
  .carousel-control-prev:hover, .carousel-control-next:hover {
    opacity: 0.9; }

.carousel-control-prev {
  left: 40px; }

.carousel-control-next {
  left: 110px; }

#HomeCarousel {
  grid-area: carousel; }
  #HomeCarousel .carousel-item {
    background-color: #8db5a3; }
    #HomeCarousel .carousel-item .slide-one-text {
      position: absolute;
      width: 40%;
      left: 2%;
      top: 8%; }
      @media only screen and (max-width: 992px) {
        #HomeCarousel .carousel-item .slide-one-text {
          position: static;
          width: 100%;
          margin: 0 auto;
          margin-top: 2rem;
          padding: 0 5px 0; } }
      #HomeCarousel .carousel-item .slide-one-text h1 {
        font-size: 4.8rem;
        color: white; }
      @media only screen and (max-width: 992px) {
        #HomeCarousel .carousel-item .slide-one-text {
          height: 200px; }
          #HomeCarousel .carousel-item .slide-one-text h1 {
            font-size: 3.8rem; } }
      #HomeCarousel .carousel-item .slide-one-text .punchline {
        color: #b48f30da; }
    #HomeCarousel .carousel-item .slide-two-text {
      position: absolute;
      width: 50%;
      left: 52%;
      top: 30%; }
      @media only screen and (max-width: 992px) {
        #HomeCarousel .carousel-item .slide-two-text {
          position: static;
          width: 100%;
          margin: 0 auto;
          margin-top: 2rem;
          padding: 0 5px 0; } }
      #HomeCarousel .carousel-item .slide-two-text h4 {
        color: white;
        font-size: 2.4rem; }
      #HomeCarousel .carousel-item .slide-two-text h2 {
        font-size: 4.5rem;
        margin-left: -10px; }
      #HomeCarousel .carousel-item .slide-two-text h5, #HomeCarousel .carousel-item .slide-two-text i {
        display: inline-block;
        margin-left: 8px;
        font-size: 1.3rem;
        color: #cd4441;
        transition: all 0.3s ease-in-out; }
        #HomeCarousel .carousel-item .slide-two-text h5:hover + i, #HomeCarousel .carousel-item .slide-two-text i:hover + i {
          position: relative;
          -webkit-transform: translate(15px, 0);
          -moz-transform: translate(15px, 0);
          -o-transform: translate(15px, 0);
          -ms-transform: translate(15px, 0);
          transform: translate(15px, 0); }
      @media only screen and (max-width: 992px) {
        #HomeCarousel .carousel-item .slide-two-text {
          padding-top: 6rem;
          height: 200px;
          padding: 40px; }
          #HomeCarousel .carousel-item .slide-two-text h2 {
            font-size: 4rem; } }
      @media only screen and (max-width: 768px) {
        #HomeCarousel .carousel-item .slide-two-text {
          padding-top: 6.8rem; }
          #HomeCarousel .carousel-item .slide-two-text h2 {
            font-size: 2.5rem; } }
    #HomeCarousel .carousel-item img {
      padding: 100px 7% 0 7%; }
    #HomeCarousel .carousel-item .slide-one-img {
      float: right; }
    #HomeCarousel .carousel-item .slide-two-img {
      float: left; }

/*# sourceMappingURL=app.css.map */
