//COLORSs
$primary: #8db5a3
$dark-primary: #324e41
$accent: #b48f30da
$dgrey: #4a4a48
$lgrey: #f3f7fc

//FONTS
$default-font: Verdana, Geneva, sans-serif
$bold-font: "Arial Black", Gadget, sans-serif

//Screen Sizes
$xs: 768px
$sm: 992px
$md: 1200px
//$lg: > 1200px