#content
    display: grid
    grid-template-columns: 1fr
    margin: 0 auto
    padding: 0
    grid-template-areas: "header" "intro" "clients" "description" "footer"
    background-color: white
    font-family: $default-font
    color: black

    h1, h2, h3
        color: $accent
        font-weight: bold
