
.carousel-control-prev, .carousel-control-next
    top: 85%
    width: 35px
    height: 35px
    z-index: 2

    border-radius: 50%
    padding: 6px
    background-color: rgba(90, 90, 90, 0.6)
    &:focus
        opacity: 0.5
    &:hover
        opacity: 0.9

.carousel-control-prev
    left: 40px
.carousel-control-next
    left: 110px

    
#HomeCarousel
    grid-area: carousel
    .carousel-item
        background-color: $primary
        .slide-one-text
            +carousel-text(40%, 2%, 8%)
            h1
                font-size: 4.8rem
                color: white
            +breakpoint-tablet()
                height: 200px
                h1
                    font-size: 3.8rem
            .punchline
                color: $secondary
        .slide-two-text
            +carousel-text(50%, 52%, 30%)
            h4
                color: white
                font-size: 2.4rem
            h2
                font-size: 4.5rem
                margin-left: -10px
            h5, i
                display: inline-block
                margin-left: 8px
                font-size: 1.3rem
                color: $accent
                transition: all .3s ease-in-out
                &:hover + i 
                    position: relative
                    +translate(15px, 0)
                    
                
            +breakpoint-tablet()
                padding-top: 6rem
                height: 200px
                padding: 40px
                h2
                    font-size: 4rem
            +breakpoint-mobile()
                padding-top: 6.8rem
                h2
                    font-size: 2.5rem
            
        img
            padding: 100px 7% 0 7%
        .slide-one-img
            float: right
        .slide-two-img
            float: left

